
@keyframes gallerysqueeze {
    from {
        width: 30vw
    }

    50% {
        width: 1vw
    }

    to {
        width: 30vw
    }
}

@keyframes galleryslidedown {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(200%)
    }
}

@keyframes galleryslideup {

    from {
        transform: translateY(200%);
    }

    to {
        transform: translateY(0);
    }

}