@keyframes navslidein {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes navslideout {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(200%);
    }
}