@keyframes homeslideout {
    from {
        transform: translateX(0);

    }

    50% {
        transform: translateX(-120%);
    }

    to {
        transform: translateX(-120%)
    }
}

@keyframes homeslidein {
    from {
        transform: translate(-10%);
    }

    50% {
        transform: translateX(0);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes homeslideleft {
    from {
        tranform: translateX(0);
    } 
    to {
        tranform: translateX(-100%);
    }
} 

@keyframes homeslideup {
    from {

    }
    to {

    }
}

@keyframes homeslidedown {
    from {

    }
    to {

    }
}
