


@keyframes slide-down {
    from {
        transform: translateY(-100%);
    } 
    to {
        transform: translateY(0);
    }
    
}

@keyframes feature {
    from {
        flex-grow: 2.5;
    }

    to {
        flex-grow: 15;
    }

}
@keyframes unfeature {
    from {
        flex-grow: 15;
    }

    to {
        flex-grow: 1;
    }

}


@keyframes expand { 
    from {
        flex-grow: 1;
    }

    to {
        flex-grow: 2.5;
    }
    
}
@keyframes shrink {
    from {
        flex-grow: 2.5;
    }

    to {
        flex-grow: 1;
    }

}